@import url("bootstrap.min.css");

td.value {
  cursor: pointer;
}

tr:hover .value a {
  color: #2a6496;
  text-decoration: underline;
}

td.edit {
  background-color: #fff !important;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}