<ul class="nav navbar-nav">
  <li id="nav-home"><a href="/#">Home</a></li>
  <li id="nav-log"><a href="/#log">Log</a></li>
  <li class="dropdown">
    <a href="/#" class="dropdown-toggle" data-toggle="dropdown">History <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li id="nav-weight-history"><a href="/#history/weight">Weight</a></li>
      <li id="nav-workout-history"><a href="/#history/workout">Workout</a></li>
    </ul></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li id="nav-exercises"><a href="/#exercises">Exercises</a></li>
  <li id="nav-workouts"><a href="/#workouts">Workouts</a></li>
  <li id="nav-logout"><a href="/logout">Logout</a></li>
</ul>
