<h1><%= workout.get('name') %></h1>
<div class="form-group">
  <label for="activeDate">Date</label>
  <input id="activeDate" type="datetime-local" class="form-control" placeholder="Date">
</div>
<h2>Previous results</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-6">Exercise</th>
      <th class="col-xs-3">Weight</th>
      <th class="col-xs-3">Repetitions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-empty"><td colspan="3">No exercises in this workout.</td></tr>
  </tbody>
</table>
<button type="button" class="btn btn-default cancel">Cancel</button>
<button type="button" class="pull-right btn btn-success start">Start</button>
