<h1><%= exerciseName %></h1>
<div class="row form-group">
  <div class="col-xs-6">
    <label for="weight-step">Weight</label>
    <input id="weight-step" type="number" step="<%= standardIncrease %>" class="form-control" placeholder="Weight" value="<%= weightValue %>">
  </div>
  <div class="col-xs-6">
    <label for="reps-step">Repetitions</label>
    <input id="reps-step" type="number" step="1" min="0" class="form-control" placeholder="Repetitions" value="<%= repsValue %>">
  </div>
</div>
<button type="button" class="pull-right btn btn-primary add">Add set</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-6">Weight</th>
      <th class="col-xs-6">Repetitions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% if (edit) { %>
<button type="button" class="btn btn-default previous">Cancel</button>
<button type="button" class="pull-right btn btn-primary next">OK</button>
<% } else { %>
  <% if (first) { %>
  <button type="button" class="btn btn-danger previous">Discard</button>
  <% } else { %>
  <button type="button" class="btn btn-primary previous">Previous</button>
  <% } %>
  <% if (last) { %>
  <button type="button" class="pull-right btn btn-success next">Summary</button>
  <% } else { %>
  <button type="button" class="pull-right btn btn-primary next">Next</button>
  <% } %>
<% } %>
