<h1>Summary of <%= workout.get('name') %></h1>
<div class="form-group">
  <label for="activeDate">Date</label>
  <input id="activeDate" type="datetime-local" class="form-control" placeholder="Date" value="<%= new Date(time).toISOString().slice(0, -5) %>">
</div>
<% if (edit) { %>
<button type="button" class="pull-right btn btn-danger discard">Delete</button>
<% } else { %>
<button type="button" class="pull-right btn btn-danger discard">Discard</button>
<% } %>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-6">Exercise</th>
      <th class="col-xs-3">Weight</th>
      <th class="col-xs-3">Repetitions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% if (edit) { %>
  <button type="button" class="btn btn-default back">Cancel</button>
<% } else { %>
  <% if (first) { %>
  <button type="button" class="btn btn-danger discard">Discard</button>
  <% } else { %>
  <button type="button" class="btn btn-primary back">Back</button>
  <% } %>
<% } %>
<button type="button" class="pull-right btn btn-success save" data-loading-text="Loading">Save</button>
