<h1>Summary of <%= workout.get('name') %></h1>
<label for="activeDate">Date</label>
<time id="activeDate"><%= new Date(time).toDateString() %></time>
<button type="button" class="pull-right btn btn-danger discard">Discard</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-6">Exercise</th>
      <th class="col-xs-3">Weight</th>
      <th class="col-xs-3">Repetitions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% if (first) { %>
<button type="button" class="btn btn-danger discard">Discard</button>
<% } else { %>
<button type="button" class="btn btn-primary back">Back</button>
<% } %>
<button type="button" class="pull-right btn btn-success save">Save</button>
