<div class="form-group">
  <exercise-select ng-init="defaultselect = null" ng-model="defaultselect" ng-click="defaultSelect($event)" ng-keypress="defaultSelect($event)"></exercise-select>
</div>
<div class="form-group" ng-repeat="editexercise in editexercises track by $index" ng-class="{'has-error': editexercises[$index]===null }">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button" ng-click="removeExercise($index)">&times;</button>
    </span>
    <exercise-select ng-model="editexercises[$index]"></exercise-select>
  </div>
</div>
