<h1>Sign up</h1>
<form name="signup" ng-submit="submit()" novalidate>
  <div class="form-group" ng-class="{'has-error': signup.email.$invalid && signup.email.$dirty}">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ng-model="signupEmail" required>
  </div>
  <div class="form-group" ng-class="{'has-error': signup.password.$invalid && signup.password.$dirty}">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="signupPassword" ng-minlength="7" required>
    <span class="help-block">Use at least seven characters.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': !signup.password.$invalid && signupPassword !== signupRepeatPassword}">
    <label for="password-repeat">Repeat password</label>
    <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="Repeat password" ng-model="signupRepeatPassword" required>
    <span class="help-block">Passwords has to match.</span>
  </div>
  <p>By clicking on "Create account", you agree to the use of cookies on this site.</p>
  <button type="submit" class="btn btn-success" ng-disabled="signup.$invalid || signupPassword !== signupRepeatPassword">Create account</button>
</form>
