<td class="value"><a href="/#edit"><%= exercise.get('name') %></a></td>
<td class="value"><%= exercise.get('standardIncrease') %></td>
<td class="edit hidden" colspan="2">
  <div class="row">
    <div class="left-fix form-group col-xs-6">
      <input type="text" class="exercise-name form-control" placeholder="Name">
    </div>
    <div class="right-fix form-group col-xs-6">
      <input type="number" step="any" class="standard-increase form-control" placeholder="Standard increase">
    </div>
  </div>
  <button type="button" class="btn btn-primary save">Save</button>
  <button type="button" class="btn btn-primary cancel">Cancel</button>
  <button type="button" class="pull-right btn btn-danger delete">Delete</button>
</td>
