<div class="row">
  <div class="left-fix form-group col-xs-6">
    <input type="datetime-local" class="weight-date form-control" placeholder="Date">
  </div>
  <div class="right-fix form-group col-xs-6">
    <input type="number" step="any" class="weight form-control" placeholder="Weight">
  </div>
</div>
<button type="button" class="btn btn-primary save">Save</button>
<button type="button" class="btn btn-primary cancel">Cancel</button>
<button type="button" class="pull-right btn btn-danger delete">Delete</button>
