<h1>Sign up</h1>
<form role="form">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
    <p>Use at least seven characters.</p>
  </div>
  <div class="form-group">
    <label for="password-repeat">Repeat password</label>
    <input type="password" class="form-control" id="password-repeat" placeholder="Repeat password">
  </div>
  <hr />
  <p>By clicking on "Create account", you agree to the use of cookies on this site.</p>
  <hr />
  <button type="submit" class="btn btn-success" data-loading-text="Loading">Create account</button>
</form>
