<div class="row">
  <div class="left-fix form-group col-xs-6">
    <input type="text" class="workout-name form-control" placeholder="Name">
  </div>
  <div class="right-fix col-xs-6">
    <div class="add-exercises">
    </div>
    <div class="exercises">
    </div>
  </div>
</div>
<button type="button" class="btn btn-danger delete">Delete</button>
<div class="pull-right">
  <button type="button" class="btn btn-default cancel">Cancel</button>
  <button type="button" class="btn btn-success save">Save</button>
</div>
