<div class="row">
  <div class="left-fix form-group col-xs-6">
    <input type="text" class="workout-name form-control" placeholder="Name">
  </div>
  <div class="right-fix col-xs-6">
    <div class="form-group input-group">
      <select class="form-control">
        <option>Test1</option>
        <option>Test2</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-danger remove" type="button">&times;</button>
      </span>
    </div>
    <div class="form-group input-group">
      <select class="form-control">
        <option>Test1</option>
        <option>Test2</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-success add" type="button">+</button>
      </span>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary save">Save</button>
<button type="button" class="btn btn-primary cancel">Cancel</button>
<button type="button" class="pull-right btn btn-danger delete">Delete</button>
